.product_card_wrapper {
  display: flex;
  align-items: center;
}

.product {
  width: 70%;
}
.shoppingCard {
  width: 30%;
  background-color: #293242;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.233);
  border-radius: 5px;
}
