.product_card_wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.shoppingCardWrapper {
  max-height: 450px;
  /* position: sticky;
    top: 0; */
  width: 30%;
  background-color: #1d1f25;
  border-radius: 5px;
  box-shadow: 5px 5px 10px black;
  color: white;
  padding: 15px;
  border-bottom: 2px solid #962040;
}
.product {
  width: 70%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  margin: 10px;
}

@media (max-width: 1071px) {
  .product {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }
}

@media (max-width: 859px) {
  .product {
    width: 60%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
  }

  .shoppingCardWrapper {
    width: 40%;
  }
}
@media (max-width: 705px) {
  .product_card_wrapper {
    flex-direction: column;
    flex-direction: column-reverse;
    align-items: center;
  }

  .product {
    width: 100%;
  }

  .shoppingCardWrapper {
    width: 100%;
    text-align: center;
  }
}
