.app {
  margin: 20px;
}

.top-header {
  text-align: center;
  margin-top: 50px;
}

.top-header h2 {
  color: #d2e3f5;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 5px;
}
.top-header h4 {
  color: #d2e3f5;
  font-weight: 700;
}
